In [5]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [6]:
def getbooktitlesids(baseurl,firstpage,maxpage):
    booktitlesfinal,idsfinal = [],[]
    for page in range(firstpage,maxpage+1):
        res = requests.get('{}?page={}'.format(baseurl,page)).text
        soup = BeautifulSoup(res,'html5lib')
        tab = soup.find('table').find_all(class_ = 'bookTitle')
        booktitles = [span.get_text() for span in tab]
        booktitles = [title.replace('\n','').strip() for title in booktitles]
        ids = [row['href'] for row in tab]
        ids = [id.split('/')[-1] for id in ids]
        booktitlesfinal = booktitlesfinal + booktitles
        idsfinal = idsfinal + ids
    booksdf = pd.DataFrame(list(zip(booktitlesfinal,idsfinal)))
    return booksdf

In [7]:
books = getbooktitlesids('https://www.goodreads.com/list/show/1.Best_Books_Ever',1,100)

In [207]:
# booksfinal = pd.DataFrame()
booksfinal = pd.concat([booksfinal,books],axis=0)
booksfinal.columns=['title','id']
booksfinal.reset_index()
booksfinal

,title,id
0,"The Hunger Games (The Hunger Games, #1)",2767052-the-hunger-games
1,Harry Potter and the Order of the Phoenix (Har...,2.Harry_Potter_and_the_Order_of_the_Phoenix
2,To Kill a Mockingbird,2657.To_Kill_a_Mockingbird
3,Pride and Prejudice,1885.Pride_and_Prejudice
4,"Twilight (The Twilight Saga, #1)",41865.Twilight
...,...,...
9995,"Coexist (Keegan's Chronicles, #1)",17256217-coexist
9996,"The Orphan Queen (The Orphan Queen, #1)",18081228-the-orphan-queen
9997,The Japanese Lover,25152052-the-japanese-lover
9998,Two By Two,40669990-two-by-two
9999,A Quiet Kind of Thunder,30197201-a-quiet-kind-of-thunder

In [208]:
booksfinal.shape[0]

10000

In [209]:
booksfinal.to_csv('goodreads_bookids.csv')

In [9]:
booksfinal = pd.read_csv('goodreads_bookids.csv').iloc[:,1:]